.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.MuiPaginationItem-icon {
  font-size: 4.5vw !important;
  color: #eed6d6;
}

.MuiPaginationItem-root {
  font-size: 2.5vw !important;
  color: #eed6d6 !important;
  margin: 0px 8px !important;
  height: 4vw !important;
  width: 4vw !important;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #470d1d !important;
  color: #eed6d6;
}

.MuiPagination-ul {
  border-radius: 10px;
  padding: 0.6vw !important;
}

.MuiPagination-root {
  margin-top: 2vw;
}

.list-title {
  width: fit-content;
  margin: 3.5% auto 1.5% auto;
  background-color: #eed6d6;
  padding: 1% 2.5%;
  font-weight: bold;
  font-size: 45px;
  color: #470d1d;
  border-radius: 40px;
  letter-spacing: 1px;
  border: solid 7px #177f62;
}

.pagination {
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .movie-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list-title {
    font-size: 38px;
    margin-left: 0vw;
  }

  .pagination {
    justify-content: start;
  }
}
