.MuiDialog-root {
  position: fixed;
  z-index: 9999;
}

.standard-modal .MuiDialog-container {
  overflow: auto;
  scrollbar-width: none;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

.MuiDialog-root .MuiDialog-paper {
  max-width: 780px !important;
  max-height: fit-content !important;
  height: auto;
  background: linear-gradient(135deg, #eccdcd, #f3e0e0) !important;
  color: #470d1d !important;
  overflow: visible !important;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.7px;
  line-height: 120%;
  margin: 0% 28px 1%;
}

.modal-tagline {
  text-align: center;
  line-height: 120%;
  font-size: 18px !important;
}

.modal-close-button {
  position: absolute !important;
  right: 8px !important;
  top: 8px !important;
  color: #470d1d;
}

.modal-close-icon {
  font-size: 35px !important;
}

.modal-close-icon:hover {
  color: #177f62;
}

.modal-picture {
  width: 70%;
  height: auto;
  margin: auto;
  box-shadow: none;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.modal-data {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.modal-data-left-side {
  width: 25%;
  padding: 0.1% 0;
}

.modal-data-right-side {
  width: 65%;
  padding: 0.1% 0;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;
}

.MuiChip-root {
  background-color: #f6e9e9 !important;
  border: solid 1.6px #470d1d !important;
  font-weight: bold;
  color: #470d1d !important;
  letter-spacing: 0.6px !important;
  padding: 2.5% 2% !important;
  font-size: 18px !important;
  margin-bottom: 1%;
}

.modal-description {
  font-size: 17px;
  text-indent: 6%;
  background-color: #f6e9e9;
  border-radius: 20px;
  padding: 1% 2.5% 1.5% 2.5%;
  margin-top: 2%;
}

@media (max-width: 870px) {
  .MuiDialog-root .MuiDialog-paper {
    max-width: 90vw;
  }
}

@media (max-width: 360px) {
  .modal-data {
    display: flex;
    flex-direction: column;
    gap: 7px !important;
  }
}
