@use "../styles/colors" as c;
@use "../styles/modal" as m;

.standard-modal.MuiDialog-root {
  position: fixed;
  z-index: 9999;

  .MuiDialog-container {
    @include m.dialog-container;
  }

  .MuiDialog-paper {
    @include m.dialog-paper;
  }
}

.modal-title {
  @include m.modal-title;
  margin: 0% 28px 1%;
}

.modal-tagline {
  text-align: center;
  line-height: 120%;
  font-size: 18px !important;
}

.modal-close-button {
  @include m.modal-close-button;

  .modal-close-icon {
    @include m.modal-close-icon;
  }
}

.modal-content {
  @include m.modal-content;
}

.modal-picture {
  width: 70%;
  height: auto;
  margin: auto;
  box-shadow: none;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.modal-data {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;

  .modal-data-left-side {
    width: 25%;
    padding: 0.1% 0;
  }

  .modal-data-right-side {
    width: 65%;
    padding: 0.1% 0;
  }
}

.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5%;

  .MuiChip-root {
    background-color: c.$cloud !important;
    border: solid 1.6px c.$bordeaux !important;
    font-weight: bold;
    color: c.$bordeaux !important;
    letter-spacing: 0.6px !important;
    padding: 2.5% 2% !important;
    font-size: 18px !important;
    margin-bottom: 1%;
  }
}

.modal-description {
  @include m.modal-description;
}

@media (max-width: 870px) {
  .MuiDialog-root {
    .MuiDialog-paper {
      max-width: 90vw;
    }
  }
}

@media (max-width: 360px) {
  .modal-data {
    display: flex;
    flex-direction: column;
    gap: 9px !important;
    margin-left: 15px;
    margin-bottom: 18px;
  }

  .chips {
    gap: 5px;
  }
}
