.MuiDialog-root {
  position: fixed;
  z-index: 9999;
}

.people-modal .MuiDialog-container {
  overflow: auto;
  scrollbar-width: none;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

.MuiDialog-root .MuiDialog-paper {
  max-width: 780px !important;
  max-height: fit-content !important;
  height: auto;
  background: linear-gradient(135deg, #eccdcd, #f3e0e0) !important;
  color: #470d1d !important;
  overflow: visible !important;
}

.MuiDialogTitle-root.people-modal-title-wrapper {
  padding: 18px 24px 0px !important;
}

.people-modal-title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.7px;
  line-height: 120%;
  margin: 0% 5% 1% 5%;
}

.people-modal-close-button {
  position: absolute !important;
  right: 8px !important;
  top: 8px !important;
  color: #470d1d;
}

.people-modal-close-icon {
  font-size: 35px !important;
}

.people-modal-close-icon:hover {
  color: #177f62;
}

.people-modal-content {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
}

.people-modal-top {
  display: flex;
  flex-direction: row;
}

.people-picture {
  width: 18%;
  min-width: 98px;
  height: auto;
  margin: 0px 14px 2px;
  box-shadow: none;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.people-data-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 17px;
}

.people-data {
  font-size: 22px;
}

.people-description {
  font-size: 17px;
  text-indent: 10%;
  background-color: #f6e9e9;
  border-radius: 20px;
  padding: 1% 2.5% 1.5% 2.5%;
  margin-top: 3%;
}

@media (max-width: 870px) {
  .MuiDialog-root .MuiDialog-paper {
    max-width: 90vw;
  }
}

@media (max-width: 480px) {
  .people-modal-top {
    flex-direction: column;
  }

  .people-modal-content {
    padding-top: 8px !important;
  }

  .people-picture {
    margin: auto;
  }

  .job {
    margin: 4px auto;
    font-size: 24px;
  }

  .people-data-display {
    gap: 4px;
  }
}
