.search {
  width: 500px;
  background-color: #f6e9e9;
  border-radius: 20px;
  margin-left: 15%;
  /* margin-left: calc(100vw - 1325px); */
}

.MuiOutlinedInput-root {
  height: 45px;
  font-size: 18px !important;
  letter-spacing: 0.6px !important;
  color: #470d1d !important;
}

.MuiAutocomplete-paper {
  background-color: #470d1d !important;
}

.MuiOutlinedInput-root fieldset {
  border: none !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border: solid 3.5px #177f62 !important;
  border-radius: 20px;
}

.MuiOutlinedInput-root.Mui-focused .MuiInputAdornment-root .MuiSvgIcon-root {
  color: #177f62;
}

.MuiAutocomplete-popper {
  margin-top: 0.2% !important ;
  border-radius: 8px;
  border: solid 3px #eed6d6;
  max-width: 100%;
  width: inherit;
}

.MuiAutocomplete-listbox {
  padding: 0px !important;
  max-height: 75vh !important;
  overflow-y: scroll;
  scrollbar-width: none;
}

.MuiAutocomplete-option {
  border-bottom: solid 1px #eed6d6;
  padding: 10px !important;
}

.MuiAutocomplete-option:hover {
  background-color: #882541 !important;
}

.search-picture {
  margin-right: 0px;
  width: 70px;
  max-height: auto;
  box-shadow: none;
}

.search-info {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  color: #eed6d6;
  font-size: 17.5px;
}

.MuiAutocomplete-loading {
  color: #eed6d6 !important;
  font-size: 20px !important;
}

@media (max-width: 835px) {
  .search {
    width: 50%;
    min-width: 100px;
    margin: auto;
  }
}
