@use "../styles/colors";

.search {
  width: 500px;
  max-height: 45px;
  background-color: colors.$cloud;
  border-radius: 20px;
  margin: auto;
}

.MuiToolbar-root {
  padding: 0px !important;
}

.MuiOutlinedInput-root {
  height: 45px;
  font-size: 18px !important;
  letter-spacing: 0.6px !important;
  color: colors.$bordeaux !important;
}

.MuiAutocomplete-paper {
  background-color: colors.$bordeaux !important;
}

.MuiOutlinedInput-root fieldset {
  border: none !important;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border: solid 3.5px colors.$green !important;
  border-radius: 20px;
}

.MuiOutlinedInput-root.Mui-focused .MuiInputAdornment-root .MuiSvgIcon-root {
  color: colors.$green;
}

.MuiAutocomplete-popper {
  margin-top: 0.2% !important ;
  border-radius: 8px;
  border: solid 0px colors.$rosewater;
  max-width: 100%;
  width: inherit;
}

.MuiAutocomplete-listbox {
  padding: 0px !important;
  max-height: 75vh !important;
  overflow-y: scroll;
  scrollbar-width: none;
}

.MuiAutocomplete-option {
  border-bottom: solid 1px colors.$rosewater;
  padding: 10px !important;
}

.MuiAutocomplete-option:hover {
  background-color: #882541 !important;
}

.search-picture {
  margin-right: 0px;
  width: 70px;
  max-height: auto;
  box-shadow: none;
}

.search-info {
  display: flex;
  flex-direction: column;
  margin-left: 4%;
  color: colors.$rosewater;
  font-size: 17.5px;
}

.MuiAutocomplete-loading {
  color: colors.$rosewater !important;
  font-size: 20px !important;
}

@media (max-width: 1130px) {
  .search {
    width: max(320px, calc(100vw - 620px));
  }
}

@media (max-width: 900px) {
  .search {
    width: 500px;
  }
}

@media (max-width: 780px) {
  .search {
    width: calc(100vw - 280px);
  }

  .MuiAutocomplete-popper {
    width: 65vw !important;
  }
}

@media (max-width: 540px) {
  .search {
    width: max(96px, calc(85vw - 200px));
  }
}

@media (max-width: 400px) {
  .MuiAutocomplete-popper {
    transform: translate(12vw, 66px) !important;
  }

  .MuiInputBase-input {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
