@use "../styles/colors";

.simple-card {
  background: colors.$rosewater !important;
  border-radius: 12px !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px colors.$bordeaux !important;
}

.simple-card-picture {
  width: 94% !important;
  margin: 7.5px auto 0% !important;
  border-radius: 15px;
  box-shadow: none;
}

.simple-card-content {
  height: 100%;
  padding-bottom: 17px !important ;
}

.card-text {
  color: colors.$bordeaux;
  height: 100%;
  display: grid;
  grid-template-areas: "title title" "rank rating";
  grid-template-rows: 70% 30%;
  grid-template-columns: 50% 50%;
}

.card-title {
  grid-area: title;
  text-align: center;
}

.rank {
  grid-area: rank;
  font-size: 27px;
  align-self: flex-end;
  margin-left: 5%;
}

.rating {
  grid-area: rating;
  font-weight: bold;
  justify-self: flex-end;
  align-self: flex-end;
  color: colors.$rosewater;
  border-radius: 80px;
  background-color: colors.$bordeaux;
  margin-right: 5%;
}

@media (max-width: 1173px) {
  .card-text {
    font-size: 2.9vw !important;
  }

  .simple-card-picture {
    margin-top: 0.8vw !important;
  }

  .rank {
    font-size: 3.2vw !important;
  }
}

@media (max-width: 896px) {
  .card-text {
    font-size: 3.8vw !important;
  }

  .simple-card-picture {
    margin-top: 1.3vw !important;
  }

  .rank {
    font-size: 4.4vw !important;
  }
}

@media (max-width: 620px) {
  .card-text {
    font-size: 7.5vw !important;
  }

  .simple-card-picture {
    margin-top: 2.4vw !important;
  }

  .rank {
    font-size: 8vw !important;
  }
}
