.simple-card {
  width: 250px !important;
  margin: 2% 1% !important;
  background: #eed6d6 !important;
  border-radius: 12px !important;
  cursor: pointer;
}

.card-media {
  width: 94% !important;
  margin: 3% auto !important;
  border-radius: 15px;
  box-shadow: none;
}
