.simple-card {
  max-width: 250px !important;
  margin: 10px 10px 20px !important;
  background: #eed6d6 !important;
  border-radius: 12px !important;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 8px #470d1d !important;
}

.simple-card-picture {
  width: 94% !important;
  margin: 7.5px auto 0% !important;
  border-radius: 15px;
  box-shadow: none;
}

.simple-card-content {
  height: 100%;
  padding-bottom: 17px !important ;
}

.card-text {
  color: #470d1d;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.simple-card-data {
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.rank {
  font-size: 27px;
  text-align: left;
  margin-top: auto;
  width: 50%;
}

.rating-container {
  display: flex;
  justify-content: end;
  width: 50%;
}

.rating {
  font-weight: bold;
  text-align: right;
  color: #eed6d6;
  border-radius: 40px;
  background-color: #470d1d;
}

@media (max-width: 640px) {
  .simple-card {
    width: 220px;
  }

  .simple-card-picture {
    margin-top: 6px !important;
  }

  .card-text {
    font-size: 22px !important;
  }

  .rank {
    font-size: 25px;
  }
}

@media (max-width: 580px) {
  .simple-card {
    width: 190px;
  }

  .simple-card-picture {
    margin-top: 5px !important;
  }

  .card-text {
    font-size: 21px !important;
  }

  .rank {
    font-size: 23px;
  }
}

@media (max-width: 515px) {
  .simple-card {
    max-width: none !important;
    width: 330px;
    margin-bottom: 15px !important;
  }

  .simple-card-picture {
    width: 92% !important;
    margin-top: 13px !important;
  }

  .card-text {
    font-size: 28px !important;
  }

  .rank {
    font-size: 32px;
  }
}
