@use "../styles/colors" as c;

.trailer-modal {
  .MuiDialog-root {
    position: fixed;
    z-index: 9999;
    overflow: visible;
  }

  .MuiDialog-paper {
    max-width: fit-content !important;
    height: fit-content;
    background: transparent !important;
    overflow: visible !important;
  }

  .MuiDialogContent-root {
    padding: 0px;
    scrollbar-width: none;
  }
}

.MuiBackdrop-root {
  opacity: 1;
}

.MuiDialog-content {
  overflow: auto;
  scrollbar-width: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-trailer {
  width: 900px;
  aspect-ratio: 16/9;
}

.trailer-close-button {
  position: absolute !important;
  right: 0px !important;
  top: -55px !important;
  color: c.$bordeaux;
}

.trailer-close-icon {
  font-size: 40px !important;
  color: c.$blush;
  border: solid 1px c.$blush;
  border-radius: 6px;
  opacity: 0.7;

  &:hover {
    color: c.$green;
    border-color: c.$green;
    opacity: 1;
  }
}

@media (max-width: 990px) {
  .playing-trailer {
    width: 90vw !important;
  }
}
