.top-layer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.5%;
  row-gap: 5vh;
}

.film-atlas {
  width: 120px;
  height: auto;
  box-shadow: none;
  margin: 0px;
  margin-left: -15px;
}

.link {
  text-decoration: none;
  font-size: 28px;
  font-weight: 600;
  color: #470d1d;
}

.link:hover {
  color: #177f62;
}

.link:active {
  color: #074634;
}

.navbar {
  background-color: #f6cbcb !important;
  width: 100%;
  border-radius: 15px !important;
  margin-bottom: 2%;
  box-shadow: 6px 6px 10px 4px #470d1dcf !important;
  border-radius: 15px !important;
}

.navbar-menu {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 3%;
  align-items: center;
}
