.top-layer-trailer {
  display: grid;
  grid-template-areas: "trailer-layout trailer-layout" "bottom-left-small-layout bottom-right-small-layout";
  gap: 48px;
}

.trailer-layout-area {
  grid-area: trailer-layout;
}

.bottom-left-small-layout-area {
  grid-area: bottom-left-small-layout;
}

.bottom-right-small-layout-area {
  grid-area: bottom-right-small-layout;
}

.top-layer {
  display: grid;
  grid-template-areas: "top-left-small-layout top-right-small-layout" "big-layout big-layout";
  gap: 48px;
}

.top-left-small-layout-area {
  grid-area: top-left-small-layout;
}

.top-right-small-layout-area {
  grid-area: top-right-small-layout;
}

.big-layout-area {
  grid-area: big-layout;
}

@media (max-width: 920px) {
  .top-layer {
    grid-template-areas: "top-left-small-layout" "top-right-small-layout" "big-layout";
  }

  .top-layer-trailer {
    grid-template-areas: "trailer-layout" "bottom-left-small-layout" "bottom-right-small-layout";
  }
}
