@use "../styles/colors" as c;

.navbar {
  background-color: c.$blush !important;
  width: 100%;
  margin-bottom: 40px;
  box-shadow: 6px 6px 10px 4px c.$bordeaux-transparent !important;
  border-radius: 15px;
  position: relative;
}

.MuiToolbar-root {
  padding: 0px !important;
}

.film-atlas {
  width: 120px;
  height: auto;
  box-shadow: none;
  margin: 0px;
}

.navbar-content {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.navbar-menu-links {
  display: flex;
  flex-wrap: nowrap;
  gap: 5%;
  align-items: center;
  width: fit-content;
  padding: 0px 3% 0px;
}

.link {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  color: c.$bordeaux;

  &:hover {
    color: c.$green;
  }

  &:active {
    color: c.$forest;
  }
}

.tv-series-link {
  display: flex !important;
  white-space: nowrap !important;
}

.mobile-menu {
  display: none !important;
}

.mobile-menu {
  .MuiSvgIcon-root {
    font-size: 55px !important;
    color: c.$bordeaux !important;

    &:hover {
      color: #177f62 !important;
    }
  }
}

@media (max-width: 900px) {
  .navbar-menu-links {
    display: none;
  }

  .mobile-menu {
    display: flex !important;
    margin-right: 1.5% !important;
  }

  .film-atlas {
    width: 105px;
    margin: auto -8px;
  }
}
