.MuiDrawer-paper {
  width: min(50vw, 380px);
  height: 100%;
  background: #470d1d !important;
}

.sidenav-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.drawer-logo {
  width: clamp(120px, 30vw, 220px);
  margin: 2vw max(-0.3vw, -2px);
}

.sidenav-content .MuiButtonBase-root {
  width: fit-content !important;
  position: absolute !important;
  top: min(1.4vw, 10px);
  right: min(1.4vw, 10px);
}

.drawer-close-button .MuiSvgIcon-root {
  font-size: clamp(42px, 8.5vw, 60px) !important;
  color: #eed6d6 !important;
}

.drawer-close-button .MuiSvgIcon-root:hover {
  color: #177f62 !important;
}

.drawer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  width: fit-content;
  margin: 7vh auto;
}

.drawer-link {
  text-decoration: none;
  font-size: clamp(24px, 6.2vw, 38px);
  font-weight: bold;
  color: #eed6d6;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
}

.drawer-link .MuiSvgIcon-root {
  font-size: clamp(24px, 6.2vw, 38px);
  margin-right: min(1.5vw, 12px);
}

.drawer-link:hover {
  color: #177f62;
}

.drawer-link:active {
  color: #074634;
}

.tv-series-link {
  display: flex !important;
  white-space: nowrap !important;
}

@media (max-width: 740px) {
  .drawer-logo {
    margin: 2vw -12px;
  }
}
