.header {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #460202;
  font-family: "Permanent Marker", cursive;
  font-size: 5vw;
  padding-bottom: 15px;
  border-bottom: 4px solid black;
  color: black;
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
