@use "../styles/colors" as c;

.error-message {
  color: c.$green;
  font-size: 50px;
  letter-spacing: 0.8px;
}

.loading-spinner {
  position: fixed;
  top: 30%;
  left: 35%;
  z-index: 1000;
}

.MuiCircularProgress-root {
  width: 20vw !important;
  height: 20vw !important;
  color: c.$green !important;
}
