.list-title {
  width: fit-content;
  margin: 30px auto 20px;
  background-color: #eed6d6;
  padding: max(6px, 1%) max(15px, 2.5%);
  font-weight: bold;
  font-size: min(45px, 6.2vw);
  color: #470d1d;
  border-radius: 40px;
  letter-spacing: 1px;
  border: solid 7px #177f62;
  box-shadow: 10px 10px 8px #470d1d !important;
  white-space: nowrap;
}

.content-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pagination {
  display: flex;
  justify-content: center;
}

.MuiPagination-root {
  margin-top: max(16px, 2vw);
}

.MuiPagination-ul li {
  width: fit-content !important;
  margin: min(8px, 0.5vw);
}

.MuiPaginationItem-root {
  font-size: clamp(28px, 4vw, 40px) !important;
  color: #eed6d6 !important;
  margin: 0px !important;
  padding: 0px !important;
  height: clamp(46px, 8vw, 62px) !important;
  width: clamp(46px, 8vw, 62px) !important;
}

.MuiPaginationItem-icon {
  font-size: clamp(56px, 9.5vw, 72px) !important;
  color: #eed6d6;
}

.MuiPaginationItem-root.Mui-selected {
  background-color: #470d1d !important;
  color: #eed6d6;
}
