@use "../styles/colors" as c;

.arrow {
  background-color: transparent;
  all: unset;
  display: inline-flex;
  cursor: pointer;

  &-left,
  &-right {
    font-size: 70px !important;
    color: c.$bordeaux;

    &:not(.disabled-button):hover {
      color: c.$green;
    }
  }

  &-left {
    transform: rotate(180deg);
  }
}

.disabled-button {
  cursor: auto !important;
  opacity: 0.5 !important;

  &:hover {
    .arrow-left,
    .arrow-right {
      color: c.$bordeaux !important;
    }
  }
}

@media (max-width: 1500px) {
  .arrow {
    .MuiSvgIcon-root {
      font-size: 60px !important;
    }
  }
}

@media (max-width: 920px) {
  .arrow {
    .MuiSvgIcon-root {
      font-size: 70px !important;
    }
  }
}

@media (max-width: 765px) {
  .arrow {
    .MuiSvgIcon-root {
      font-size: 60px !important;
    }
  }
}

@media (max-width: 565px) {
  .arrow {
    .MuiSvgIcon-root {
      font-size: 9.7vw !important;
    }
  }
}

@media (max-width: 360px) {
  .arrow {
    .MuiSvgIcon-root {
      font-size: max(24px, 100vw - 322px) !important;
    }
  }
}
