.arrows {
  background-color: transparent;
  all: unset;
  display: inline-flex;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
  font-size: 70px !important;
  color: #470d1d;
}

.arrow-right {
  font-size: 70px !important;
  color: #470d1d;
}

.disabled-button {
  cursor: auto !important;
  opacity: 0.5 !important;
}

.disabled-button:hover .arrow-left {
  color: #470d1d !important;
}

.disabled-button:hover .arrow-right {
  color: #470d1d !important;
}

.arrow-left:not(.disabled-button):hover {
  color: #177f62;
}

.arrow-right:not(.disabled-button):hover {
  color: #177f62;
}

@media (max-width: 1500px) {
  .arrows .MuiSvgIcon-root {
    font-size: 60px !important;
  }
}

@media (max-width: 920px) {
  .arrows .MuiSvgIcon-root {
    font-size: 70px !important;
  }
}

@media (max-width: 765px) {
  .arrows .MuiSvgIcon-root {
    font-size: 60px !important;
  }
}

@media (max-width: 565px) {
  .arrows .MuiSvgIcon-root {
    font-size: 9.7vw !important;
  }
}

@media (max-width: 360px) {
  .arrows .MuiSvgIcon-root {
    font-size: max(24px, 100vw - 322px) !important;
  }
}
