@use "../styles/mixins" as m;

.big-layout {
  @include m.layout;
  max-width: 1380px;
}

.big-carousel-container {
  @include m.carousel-container;
}

.big-carousel {
  @include m.carousel(155deg);
  width: 1240px;
  padding: 20px 30px;
}

.main-picture {
  width: 220px;
  cursor: pointer;
}

.front-picture {
  width: 0px;
  margin: 8px 0px;
}

.back-picture {
  width: 0px;
  margin: 8px 0px;
}

.big-carousel-picture {
  @include m.carousel-picture;
}

@media (max-width: 1525px) {
  .fifth-big-carousel-picture {
    width: 0px;
    margin: 0px;
  }

  .big-layout {
    margin: auto;
    width: fit-content;
  }

  .big-carousel-picture {
    transition: width 0.3s ease;
  }

  .front-picture {
    margin: 0px;
  }

  .back-picture {
    margin: 0px;
  }
}

@media (max-width: 1500px) {
  .big-carousel {
    width: 1020px;
  }
}

@media (max-width: 1290px) {
  .fourth-big-carousel-picture {
    width: 0px;
    margin: 0px;
  }
}

@media (max-width: 1265px) {
  .big-carousel {
    width: 760px;
    padding: 20px;
  }
}

@media (max-width: 1025px) {
  .third-big-carousel-picture {
    width: 0px;
    margin: 0px;
  }

  .first-big-carousel-picture {
    width: 260px;
    height: 390px;
  }

  .second-big-carousel-picture {
    width: 260px;
    height: 390px;
  }

  .big-carousel {
    width: 600px;
  }
}

@media (max-width: 840px) {
  .first-big-carousel-picture {
    width: 220px;
    height: 330px;
  }

  .second-big-carousel-picture {
    width: 220px;
    height: 330px;
  }

  .big-carousel {
    width: 520px;
  }
}

@media (max-width: 765px) {
  .second-big-carousel-picture {
    width: 0px;
    margin: 0px;
  }

  .first-big-carousel-picture {
    width: 260px;
    height: 390px;
    margin: 0px;
  }

  .big-carousel {
    width: 330px;
  }

  .big-carousel-picture {
    transition: none;
  }
}

@media (max-width: 560px) {
  .big-carousel {
    width: max(200px, calc(75vw - 90px));
    height: max(280px, calc((75vw - 90px) * 1.4));
    padding: 4vw 5.5vw 4.5vw;
  }

  .first-big-carousel-picture {
    width: 100%;
    height: auto;
  }
}
