.big-layout-container {
  width: fit-content;
}

.big-carousel-picture {
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  transition: width 0.7s ease;
  margin: 8px 10px;
  box-shadow: 5px 12px 5px;
}

.big-slide-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 1px 30px 1px;
  height: auto;
  background: #f6cbcb;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 4px #470d1dcf;
}

.slide-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(155deg, #9f163d, #f6cbcb);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 5px 6px 35px inset #470d1d;
  width: 1240px;
}

.picture-container-big-layout {
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.arrows {
  background-color: transparent;
  all: unset;
  display: inline-flex;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
  font-size: 70px !important;
  color: #470d1d;
}

.arrow-right {
  font-size: 70px !important;
  color: #470d1d;
}

.disabled-button {
  cursor: auto !important;
  opacity: 0.5 !important;
}

.disabled-button:hover .arrow-left {
  color: #470d1d !important;
}

.disabled-button:hover .arrow-right {
  color: #470d1d !important;
}

.arrow-left:not(.disabled-button):hover {
  color: #177f62;
}

.arrow-right:not(.disabled-button):hover {
  color: #177f62;
}

.previous-picture {
  width: 0px;
  height: 330px;
  margin: 8px 0px;
  filter: brightness(60%);
}

.main-picture {
  width: 220px;
  height: 330px;
}

.next-picture {
  width: 0px;
  height: 330px;
  margin: 8px 0px;
  filter: brightness(60%);
}

@media (max-width: 1525px) {
  .fifth-big-layout {
    width: 0px;
    margin: 0px;
  }

  .big-layout-container {
    margin-right: 120px;
  }

  .big-layout-container {
    margin: auto;
  }

  .big-carousel-picture {
    transition: width 0.3s ease;
  }
}

@media (max-width: 1500px) {
  .slide {
    width: 1020px;
  }
}

@media (max-width: 1290px) {
  .fourth-big-layout {
    width: 0px;
    margin: 0px;
  }
}

@media (max-width: 1265px) {
  .slide {
    width: 760px;
    padding: 20px;
  }
}

@media (max-width: 1025px) {
  .third-big-layout {
    width: 0px;
    margin: 0px;
  }
}

@media (max-width: 1000px) {
  .slide {
    width: 520px;
  }
}

@media (max-width: 760px) {
  .second-big-layout {
    width: 0px;
    margin: 0px;
  }

  .big-layout-container {
    margin-right: 120px;
  }
}

@media (max-width: 735px) {
  .slide {
    width: 280px;
  }
}
