@use "../styles/colors";

.layout-title-container {
  margin: 0px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  width: fit-content;
  background-color: colors.$cloud;
  border-radius: 40px;
  padding: min(8px, 0.6vw) min(15px, 1.2vw) min(8px, 0.6vw) 22px;
  box-shadow: 4px 4px 10px colors.$bordeaux-transparent;
  text-decoration: none;
}

.layout-title-line {
  height: clamp(36px, 4vw, 55px);
  width: min(9px, calc(100vw / 150));
  background-color: colors.$green;
  border-radius: 10px;
  margin-right: 4px;
}

.layout-title {
  font-weight: bold;
  font-size: 35px;
  color: colors.$bordeaux;
  transition: font-size 0.3s ease;
  margin: auto;
}

.layout-title-container:hover .layout-title {
  font-size: 40px;
}

.layout-title-arrow {
  height: clamp(27px, 2.4vw, 36px);
  width: clamp(27px, 2.4vw, 36px);
  border: solid colors.$green;
  border-width: 0 12px 12px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  border-radius: 10px;
  margin-left: 0px;
  transition: margin-left 0.5s ease, transform 0.1s ease;
}

.layout-title-container:hover .layout-title-arrow {
  margin-left: clamp(15px, 3.2vw, 88px);
  transform: rotate(135deg);
}

@media (max-width: 1500px) {
  .layout-title {
    font-size: 30px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 35px;
  }
}

@media (max-width: 1200px) {
  .layout-title {
    font-size: 25px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 28px;
  }
}

@media (max-width: 1050px) {
  .layout-title-container {
    margin: 0px auto 20px;
  }

  .layout-title {
    font-size: 22px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 24px;
  }
}

@media (max-width: 920px) {
  .layout-title-container {
    padding: min(8px, 0.8vw) min(15px, 2.7vw) min(8px, 0.8vw) min(22px, 3vw);
    margin: 0px 10px 20px;
  }

  .layout-title {
    font-size: 35px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 40px;
  }

  .layout-title-line {
    height: clamp(28px, 6.2vw, 55px);
    width: min(1.1vw, 9px);
    min-width: 5px !important;
  }

  .layout-title-arrow {
    height: clamp(27px, 3.8vw, 36px);
    width: clamp(27px, 3.8vw, 36px);
  }

  .layout-title-container:hover .layout-title-arrow {
    margin-left: clamp(10px, calc((100vw - 550px) / 4), 90px);
  }
}

@media (max-width: 865px) {
  .layout-title {
    font-size: 30px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 35px;
  }
}

@media (max-width: 750px) {
  .layout-title {
    font-size: 25px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 28px;
  }
}

@media (max-width: 670px) {
  .layout-title-container {
    margin: 0px auto 20px;
  }
}

@media (max-width: 600px) {
  .layout-title-container:hover .layout-title-arrow {
    transform: rotate(-45deg);
    margin-left: 0px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .layout-title-container {
    width: fit-content;
    max-width: max(56vw, calc(100vw - 165px));
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding-left: max(20px, 5vw);
  }

  .layout-title-line {
    align-self: stretch;
    height: auto;
    margin: max(2px, 0.4vw) 0.8vw;
  }
}

@media (max-width: 460px) {
  .layout-title {
    font-size: 23px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 23px;
  }
}

@media (max-width: 420px) {
  .layout-title {
    font-size: 21px;
  }

  .layout-title-container:hover .layout-title {
    font-size: 21px;
  }

  .layout-title-line {
    margin: max(4px, 0.4vw) 0.8vw;
  }
}
