.small-layout-container {
  display: flex;
  gap: 4%;
  width: fit-content;
  flex-direction: column;
  padding: 15px 1px 30px 1px;
  height: auto;
  background: #f6cbcb;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 4px #470d1dcf;
  margin: auto;
}

.small-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.small-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #983442, #e6b5bb);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 35px inset #470d1d;
  width: 520px;
}

.null-picture {
  width: 0px;
  margin: 8px 0px;
  filter: brightness(60%);
}

.first-picture {
  width: 220px;
  cursor: pointer;
}

.second-picture {
  width: 120px;
  filter: brightness(60%);
}

.third-picture {
  width: 80px;
  filter: brightness(60%);
}

.fourth-picture {
  width: 0px;
  margin: 8px 0px;
  filter: brightness(60%);
}

.small-carousel-picture-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.small-carousel-picture {
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  transition: width 0.7s ease;
  margin: 8px 10px;
  box-shadow: 5px 12px 5px;
  height: 330px;
}

@media (max-width: 1500px) {
  .first-picture {
    width: 170px;
  }

  .second-picture {
    width: 85px;
  }

  .third-picture {
    width: 55px;
  }

  .fourth-picture {
    margin: 0px;
  }

  .null-picture {
    margin: 0px;
  }

  .small-carousel-picture {
    height: 280px;
  }
}

@media (max-width: 1480px) {
  .small-carousel {
    width: 410px;
  }
}

@media (max-width: 1200px) {
  .third-picture {
    width: 0px;
    margin: 0px;
  }

  .small-carousel {
    width: 335px;
  }
}

@media (max-width: 1050px) {
  .second-picture {
    width: 0px;
    margin: 0px;
  }

  .small-carousel {
    width: 260px;
  }

  .first-picture {
    width: 220px;
    margin: 0px;
  }

  .small-carousel-picture {
    height: 330px;
  }
}

@media (max-width: 920px) {
  .small-carousel {
    width: 600px;
  }

  .first-picture {
    width: 250px;
  }

  .second-picture {
    width: 145px;
  }

  .third-picture {
    width: 105px;
  }

  .small-carousel-picture {
    height: 355px;
    margin: 8px 10px;
  }
}

@media (max-width: 865px) {
  .first-picture {
    width: 220px;
  }

  .second-picture {
    width: 120px;
  }

  .third-picture {
    width: 80px;
  }

  .fourth-picture {
    margin: 0px;
  }

  .small-carousel-picture {
    height: 330px;
  }

  .small-carousel {
    width: 520px;
  }
}

@media (max-width: 750px) {
  .third-picture {
    width: 0px;
    margin: 0px;
  }

  .null-picture {
    margin: 0px;
  }

  .small-carousel {
    width: 420px;
  }
}

@media (max-width: 670px) {
  .first-picture {
    width: 260px;
    height: 390px;
  }

  .second-picture {
    width: 0px;
  }

  .small-carousel {
    width: 330px;
  }

  .small-carousel-picture {
    transition: none;
    margin: 0px;
  }
}

@media (max-width: 560px) {
  .small-carousel {
    width: max(200px, calc(75vw - 90px));
    height: max(280px, calc((75vw - 90px) * 1.4));
    padding: 4vw 5.5vw 4.5vw;
  }

  .first-picture {
    width: 100%;
    height: auto;
  }
}
