.small-layout-container {
  display: flex;
  gap: 4%;
  width: fit-content;
  flex-direction: column;
  padding: 15px 1px 30px 1px;
  height: auto;
  background: #f6cbcb;
  border-radius: 15px;
  box-shadow: 8px 8px 10px 4px #470d1dcf;
}

.small-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.arrows {
  background-color: transparent;
  all: unset;
  display: inline-flex;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
  font-size: 70px !important;
  color: #470d1d;
}

.arrow-right {
  font-size: 70px !important;
  color: #470d1d;
}

.disabled-button {
  cursor: auto !important;
  opacity: 0.5 !important;
}

.disabled-button:hover .arrow-left {
  color: #470d1d !important;
}

.disabled-button:hover .arrow-right {
  color: #470d1d !important;
}

.arrow-left:not(.disabled-button):hover {
  color: #177f62;
}

.arrow-right:not(.disabled-button):hover {
  color: #177f62;
}

.small-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #983442, #e6b5bb);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 35px inset #470d1d;
  width: 520px;
}

.null-picture {
  width: 0px;
  height: 330px;
  margin: 8px 0px;
  filter: brightness(60%);
}

.first-picture {
  width: 220px;
  height: 330px;
  cursor: pointer;
}

.second-picture {
  width: 120px;
  height: 330px;
  filter: brightness(60%);
}

.third-picture {
  width: 80px;
  height: 330px;
  filter: brightness(60%);
}

.fourth-picture {
  width: 0px;
  height: 330px;
  margin: 8px 0px;
  filter: brightness(60%);
}

.small-carousel-picture-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.small-carousel-picture {
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  transition: width 0.7s ease;
  margin: 8px 10px;
  box-shadow: 5px 12px 5px;
}

@media (max-width: 1600px) {
  .small-layout-container {
    margin: auto;
  }
}

@media (max-width: 775px) {
  .third-picture {
    width: 0px;
    margin: 0px;
  }

  .null-picture {
    margin: 0px;
  }

  .fourth-picture {
    margin: 0px;
  }

  .small-layout-container {
    margin: auto;
  }

  .small-carousel-picture {
    transition: width 0.2s ease;
  }
}

@media (max-width: 750px) {
  .small-carousel {
    width: 420px;
  }
}

@media (max-width: 665px) {
  .second-picture {
    width: 0px;
    margin: 0px;
  }
}

@media (max-width: 645px) {
  .small-carousel {
    width: 280px;
  }
}
