.trailer-side-container {
  background: #470d1d;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: #f6cbcb;
  flex-grow: 1;
  padding: 2%;
}

.watch-trailer {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 4%;
  text-align: center;
}

.trailer-info {
  margin-top: 6%;
}

.trailer-title {
  font-size: 32px;
  font-weight: bold;
}

.trailer-release-date {
  font-size: 30px;
}

.trailer-thumbnail-container {
  position: relative;
  cursor: pointer;
  max-width: 500px;
  min-width: 280px;
  width: 100%;
  margin: auto;
}

.trailer-thumbnail {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 16 / 9;
  margin: 0px auto;
  display: block;
  border-radius: 15px;
  border: solid 6px #f6cbcb;
  pointer-events: none;
}

@media (max-width: 1210px) {
  .trailer-side-container {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    padding: 4%;
  }
}
