.trailer-layout-container {
  display: flex;
  width: 100%;
  border-radius: 15px;
  box-shadow: 4px 4px 4px 5px #470d1dcf;
}

.trailer-carousel-picture {
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  margin: 8px -10px;
  transition: width 1s ease;
}

.upcoming-movies-side-container {
  display: flex;
  flex-direction: column;
  padding: 15px 2px 30px 5px;
  background: #f6cbcb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.trailer-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.trailer-carousel {
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(155deg, #9f163d, #f6cbcb);
  padding: 16px 20px 24px 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 35px inset #470d1d;
}

.trailer-carousel-picture-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.arrows {
  background-color: transparent;
  all: unset;
  display: inline-flex;
  cursor: pointer;
}

.arrow-left {
  transform: rotate(180deg);
  font-size: 70px !important;
  color: #470d1d;
}

.arrow-right {
  font-size: 70px !important;
  color: #470d1d;
}

.disabled-button {
  cursor: auto !important;
  opacity: 0.5 !important;
}

.disabled-button:hover .arrow-left {
  color: #470d1d !important;
}

.disabled-button:hover .arrow-right {
  color: #470d1d !important;
}

.arrow-left:not(.disabled-button):hover {
  color: #177f62;
}

.arrow-right:not(.disabled-button):hover {
  color: #177f62;
}

.perspective {
  perspective: 1000px;
}

.previous-picture {
  width: 0px;
  height: 300px;
  margin: 8px 0px;
  filter: brightness(50%);
}

.middle-picture {
  width: auto;
  height: 390px;
  transition: transform 0.8s ease;
  cursor: pointer;
}

.on-the-left {
  width: 200px;
  height: 300px;
  transform: rotateY(-60deg);
  filter: brightness(50%);
}

.on-the-right {
  width: 200px;
  height: 300px;
  transform: rotateY(60deg);
  filter: brightness(50%);
}

.next-picture {
  width: 0px;
  height: 300px;
  margin: 8px 0px;
  filter: brightness(50%);
}

@media (max-width: 1210px) {
  .trailer-layout-container {
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }

  .upcoming-movies-side-container {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 15px;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 900px) {
  .middle-picture {
    height: 330px;
    width: 220px;
  }

  .on-the-left {
    height: 270px;
    width: 185px;
  }

  .on-the-right {
    height: 270px;
    width: 185px;
  }

  .previous-picture {
    height: 200px;
  }

  .next-picture {
    height: 200px;
  }

  .trailer-carousel {
    width: 620px;
  }
}

@media (max-width: 850px) {
  .on-the-left {
    width: 0px;
    margin-right: 15px;
  }

  .next-picture {
    margin: 0px;
  }

  .trailer-carousel {
    width: 420px;
  }

  .middle-picture {
    margin-left: 30px;
  }

  .trailer-carousel-picture {
    transition: none;
  }

  .upcoming-movies-trailer-container {
    margin: auto !important;
  }
}

@media (max-width: 645px) {
  .on-the-right {
    width: 0px;
  }

  .middle-picture {
    margin: auto;
  }

  .trailer-carousel {
    width: 280px;
  }

  .upcoming-movies-trailer-container {
    margin-right: 120px;
  }
}
